/*
Подключение шрифтов через font-face
------------------------------------------------------------------------------------------------------------------
*/
@font-face {
  font-family: 'Latobold';
  src: url('../fonts/latobold-webfont.eot');
  src: url('../fonts/latobold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/latobold-webfont.ttf') format('truetype'),
       url('../fonts/latobold-webfont.woff') format('woff'),
       url('../fonts/latobold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'LatoSemibold';
  src: url('../fonts/latosemibold-webfont.eot');
  src: url('../fonts/latosemibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/latosemibold-webfont.ttf') format('truetype'),
       url('../fonts/latosemibold-webfont.woff') format('woff'),
       url('../fonts/latosemibold-webfont.woff2') format('woff2');
      
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'LatoMedium';
  src: url('../fonts/latomedium-webfont.eot');
  src: url('../fonts/latomedium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/latomedium-webfont.ttf') format('truetype'),
       url('../fonts/latomedium-webfont.woff') format('woff'),
       url('../fonts/latomedium-webfont.woff2') format('woff2');
      
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'LatoRegular';
  src: url('../fonts/latoregular-webfont.eot');
  src: url('../fonts/latoregular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/latoregular-webfont.ttf') format('truetype'),
       url('../fonts/latoregular-webfont.woff') format('woff'),
       url('../fonts/latoregular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}




 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }

  body {
    margin: 0;
    font-size: 16px;
    background-color: #bfbfbf;
  }

  html, 
body {
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
}
  

  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  
  a {
    background-color: transparent;
  }

  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  
  b,
  strong {
    font-weight: bolder;
  }
  

  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }

  
  small {
    font-size: 80%;
  }
  
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  

  
  img {
    border-style: none;
  }
  

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  

  button,
  input { /* 1 */
    overflow: visible;
  }
  

  
  button,
  select { /* 1 */
    text-transform: none;
  }
  

  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  

  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
 
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  

  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
   
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }

  
  progress {
    vertical-align: baseline;
  }
  

  
  textarea {
    overflow: auto;
    resize: none; /* Запрещаем изменять размер */
  }
  

  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  

  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  

  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  

  details {
    display: block;
  }

  
  summary {
    display: list-item;
  }

  template {
    display: none;
  }

  [hidden] {
    display: none;
  }

  /*Убираем рамку на поле при клике*/
input:focus { 
  outline: none; 
}

p{
  margin: 0;
}

/*Убираем placeholder при клике*/
input:focus::-webkit-input-placeholder { 
  color:transparent; 
}
input:focus:-moz-placeholder { 
  color:transparent; 
} /* FF 4-18 */
input:focus::-moz-placeholder { 
  color:transparent; 
} /* FF 19+ */
input:focus:-ms-input-placeholder { 
  color:transparent; 
} /* IE 10+ */

input::-ms-clear {
  display: none;
}

.fully-hidden {
  display: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.abs-alignment {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/*Классы валидации формы*/
.input-ok {
  border: 1px solid #96b796;
}

.input-error {
  border: 1px solid red;
}

/* Классы шрифтов */

.font__lato-regular {
  font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.font__lato-semibold {
  font-family: 'LatoSemibold', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.font__lato-bold {
  font-family: 'LatoBold', Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.font__lato-medium {
  font-family: 'LatoMedium', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

/* Общие блоки шаблона */


.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
  clear: both;
  height: 0;
}

* html .clearfix {
  height: 1%;
}

.clearfix{
  display: block;
}

.visually-hidden {
  visibility: hidden;
}

.layout-template-wrapper {
  position: relative;
  display: block;
  min-height: 100vh;
  height: 100vh;
}

.layout-template-wrapper__inner {
  display: flex;
  flex-direction: column;
  height: inherit;
  min-height: inherit;
  min-width:  100%;
}

.layout-content {
  height:auto;
  /* flex-grow: 1;
  flex-shrink: 0; */
  flex-basis: auto;
}

.layout-position {
  margin: 0 auto;
  width: 1240px;
  max-width: 1240px;
}








 /* BEGIN MAIN */ 
body, html {
     background: #f4f4f4;
     font-size: 16px;
     font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
     height: 3000px;
 }



 

.header-wrapper {
    max-width: 1240px;
    background: transparent;
    display: flex;
    /* flex-direction: column; */
    margin: auto;
}

.logo-link {
    /* max-width: 269px; */
    max-height: 103px;
    width: 23%;
    margin-top: 85px;
}

.header-container__info {
    margin: 29px 56px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container__menu {
    display: flex;
    width: 100%;
    margin: 29px 0px 29px 0;
}

.header-container {
    flex-grow: 2;
    flex-basis: 50%;
}

.header-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    width: 100%;
    margin-right: 56px;
}

.menu-item__link {
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
    position: relative;
}

.menu-item__link:hover::after {
    content: "";
    position: absolute;
    border-top: 1px solid #43b343;
    bottom: -16px;
    width: 32px;
    left: calc(50% - 16px);
}

.tagline {
    color: rgba(0, 0, 0, 0.502);
    margin-right: 6%;
    line-height: 1.125;
    letter-spacing: 0.4px;
}

.phone__header {
    font-size: 1.125em;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: #000000;
}

.btn__order-callback {
    width: 210px;
    height: 48px;
    border-radius: 24px;
    background-color: #43b343;
    border: none;
    padding: 0;
    color: #ffffff;
    font-family: 'latosemibold', sans-serif;
    letter-spacing: 0.4px;
    text-align: left;
    padding-left: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.btn__order-callback::after {
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #54c254;
    top: 8px;
    right: 9px;
    position: absolute;
    transition: all 0.3s;
    z-index: 1;
}

.btn__order-callback::before {
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: url("../img/icon-phone.png") no-repeat 50% 50%;
    top: 8px;
    right: 9px;
    position: absolute;
    z-index: 2;
}

.btn__order-callback:hover::after {
    transform: scale(2);
    /* width: 75px;
    height: 75px;
    top: -13px;
    right: -12px; */
}
  
.menu-item_current {
  color: #43b343;
}

.breadcrumbs {
  max-width: 1240px;
  background: transparent;
  display: flex;
  /* flex-direction: column; */
  margin: auto;
  margin-bottom: 26px;
}

.breadcrumbs__item:first-child {
  margin-left: 80px;
}

.breadcrumbs__item:not(:first-child) {
  margin-left: 36px;
}

.breadcrumbs__item:not(:first-child)::before {
  content: ">";
  position: absolute;
  left: -23px;
}

.breadcrumbs__item {
  margin-top: 51px;
  font-size: 0.938em;
  line-height: 1.47;
  text-align: left;
  color: #000000;
  text-decoration: none;
  position: relative;
  border-bottom: 1px solid transparent;
}

.breadcrumbs__item_current {
  color: #aaaaaa;
}

.breadcrumbs__item:not(.breadcrumbs__item_current):hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.projects {
  max-width: 1240px;
  margin: auto;
  background: #ffffff;
}

.map {
  width: 100%;
  height: 595px;
  background: url("../img/map_dummy.png") no-repeat center center;
}

.clients {
  background: transparent;
  width: auto;
  padding: 0 51px;
}

.clients h2 {
  height: 90px;
  margin: 0;
  margin-left: 26px;
  vertical-align: middle;
  text-align: left;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 5;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-list input[type="radio"] {
  display: none;
}

.clients-list label {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  max-width: 250px;
  height: 77px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 38.5px;
  box-sizing: border-box;
  padding: 0 22px 0 18px;
  margin-right: 16px;
  margin-bottom: 18px;
}

/* .clients-list label:first-child {
  padding-left: 27px;
} */

.clients-list label span {
  display: inline-block;
  margin-left: 82px;
  font-size: 0.813em;
  font-weight: 500;
  font-family: 'latomedium', sans-serif;
  max-width: 130px;
  vertical-align: middle;
  z-index: 10;
}

.clients-list label[for="all"] span {
  margin-left: 32px;
}

.clients-list label::before,
.clients-list label::after {
  content: "";
  width: 22px;
  height: 22px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  border-radius: 50%;
  z-index: 5;
}

.clients-list label::before {
  color: #ffffff;
  transform: scale(0);
  transition: all 0.3s;
  background-color: #43b343;
  background: url("../img/icon_check.png") no-repeat center, #43b343;
  z-index: 10;
  border: none;
}

.clients-list input[type="radio"]:checked + label::before {
  transform: scale(1.1);
}

.clients-list input[type="radio"]:checked + label {
  border-color: rgba(67, 179, 67, 0.5);
}

.clients-list label img {
  position: absolute;
  left: 63px;
}

/* Футер */
*{
  box-sizing: border-box;
}

body.footer, 
html.footer{
  height: auto;
}

.advantages {
  display: flex;
  min-height: 14.375rem;
  justify-content: space-between;
  margin-top: 218px;
}

.advantages__item {
  width: 18.125rem;
  display:flex;
  justify-content: center;
  padding-top: 20px;
  text-align: center;
  flex-wrap: wrap;
}

.advantages__item-picplace {
  width: 140px;
  height: 66%;
  min-height: 66%;
  position: relative;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;

}

.advantages__item-picplace.venok {
  background-image: url('../img/obj_venok.svg');
  background-size: 94%;
  padding-top: 10%;
  background-position: 50% 28%;
}

.advantages__item-picplace.spaceship {
  background-image: url('../img/obj_spaceship.svg');
  background-size: 61%;
  background-position: 50% 39%;
}

.advantages__item-picplace.russia {
  background-image: url('../img/obj_russia.svg');
  background-size: 61%;
  background-position: 50% 39%;
}

.advantages__item-picplace.russia + p {
	margin-bottom: 0;
	margin-top: auto;

	margin-left: 0.875rem;
	margin-right: auto;
}

.advantages__item-picplace.gaika + p {
  margin-bottom: 28px;
  margin-left: 1.175rem;
  margin-right: auto;
}


  .advantages__item-number {
    font-size: 3.125rem;
    color: #43b343;
    height: 5rem;
    display: block;
  }

  .advantages__item-picplace.gaika .advantages__item-number {
    width:55%;
    margin: auto 0;
    margin-right: auto;
    margin-left: 18%;
}

.advantages-item__description {
	font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
	width: 79%;
	text-align: center;
	color: #838383;
	line-height: 1.333;
	font-size: 0.9063rem;
	margin-bottom: 8px;
}


footer .layout-position {
	margin-top: 84px;
	width: 1400px;
	max-width: 1400px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 20px 5px #f0efef;
	-moz-box-shadow: 0px 0px 20px 5px #f0efef;
	box-shadow: 0px 0px 20px 5px #f0efef;
	padding: 120px 140px 100px 150px;
}



/* Футер : конец */